<div class="container">
	<div class="row col-lg-12 col-sm-12 col-xs-12">
		<div class="row"> 
			<div id="registered_names_section" class="pad_top_left_right_15 height_100_pct"> 
				<div class="row account_turnover no_padding_top height_100_pct"> 
					<div class="header_bottom_border"> 				  	
						<h2 class="h2_margin_half_card h2_final"> Group structure:</h2>				  	
					</div>
					<div class="row col-lg-12 col-sm-12 col-xs-12" style="background-color: #e6e6e6;">
						<div class="no-data-double no-data-border no-data-child">
							<div>
								<div> This is not available from the statutory register. </div>
            				</div>
        				</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>