				    <div class="modal-header">
				        <h3 class="modal-title">What is a company profile?</h3>
				    </div>
				    <div class="modal-body">
				      <p class="open_sans_13_px  bold-bold black"> This gives you a detailed overview of the information we hold on a company. A typical company profile includes general details about the company, financials (if available), corporate filings, events, group structure, contact details as well as director and shareholder information. </p>
				    </div>
				    <div class="modal-header">
				        <h3 class="modal-title">How it works</h3>
				    </div>
				    <div class="modal-body">
				      <p class="open_sans_13_px  bold-bold black"> Use the tabs at the top of the profile to find a more in-depth analysis of the data. Depending on the profile, you’ll be able to quickly assess the financial health of the company, see the key decisions makers and much more. </p>
				    </div>