<div class="container">
	<div class="row col-lg-12 col-sm-12 col-xs-12">
		<div class="row"> 
			<div id="registered_names_section" class="pad_top_left_right_15 height_100_pct"> 
				<div class="row account_turnover no_padding_top height_100_pct"> 
					<div class="header_bottom_border"> 				  	
						<h2 class="h2_margin_half_card h2_final"> Addresses:</h2>				  	
					</div>
					<div class="row col-lg-6 col-sm-12 col-xs-12" style="background-color: #e6e6e6;">
						<div class="no-data-double no-data-border no-data-child">
							<div>
								<div> This is not available from the statutory register. </div>
            				</div>
        				</div>
					</div>
					<div class="row col-lg-6 col-sm-12 col-xs-12" style="background-color: #e6e6e6;">
						<div class="no-data-double no-data-border no-data-child">
							<div>
								<div> This is not available from the statutory register. </div>
            				</div>
        				</div
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row col-lg-12 col-sm-12 col-xs-12">
		<div class="row"> 
			<div id="registered_names_section" class="pad_top_left_right_15 height_100_pct"> 
				<div class="row account_turnover no_padding_top height_100_pct"> 
					<div class="header_bottom_border"> 				  	
						<h2 class="h2_margin_half_card h2_final"> Past and present directorships:</h2>				  	
					</div>
				</div>
				<div class="container">                                                                                   
					<div class="table-responsive" ng-controller="PeopleController">          
						<table class="table">
							<thead>
								<tr>
									<th>Name</th>
							        <th>Job title</th>
							        <th>Age</th>
							        <th>Nationality</th>
							        <th>Location</th>
							        <th>Appointment date</th>
							        <th>End date</th>
							        <th>Status</th>
				      			</tr>
				    		</thead>
							<tbody>
								<tr ng-repeat="item in person track by $index">
							        <td>{{item[1]}}</td>
							        <td>{{item[3]}}</td>
							        <td>{{item[5]}}</td>
							        <td>{{item[7]}}</td>
							        <td>{{item[9]}}</td>
							        <td>{{item[11]}}</td>
							        <td>{{item[13]}}</td>
							        <td>{{item[15]}}</td>
				      			</tr>
				    		</tbody>
				  		</table>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>